.App {
  padding: 20px;
}

input {
  padding: 5px 10px;
  width: 200px;
}

.Output {
  padding: 20px;
}

.StepGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Step--1,
.Step--2 {
  flex: 1;
}

.ButtonContainer {
  text-align: center;
}

button {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 30px;
  border: none;
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

label {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 14px;
}
